:root {
  --primary: #66bfbf;
  --secondary: #eaf6f6;
  --tritary: #fcfefe;
  --fourtiry: #f76b8a;
}

.App,
html {
  background-color: var(--tritary);
  margin: 0;
  padding: 0;

}

.hero>h1 {
  margin: 0;
}

input,
select {
  padding: 10px;
  width: 670px;
  border-radius: 3px;
  outline: none;
  border: 1px solid grey;
  font-size: 14px;
}

input {
  border: 1px solid grey;
}

select {
  width: 690px;
}

button {
  margin: 10px;
  height: 40px;
  width: 150px;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}


/* buttons */


.addbtn {
  background-color: var(--fourtiry);
  color: #fff;
  border: none;
}

.edit {
  background-color: var(--tritary);
  color: #252525;
  border: 1px solid grey;
}

.delete {
  background-color: var(--fourtiry);
  color: #fff;
  border: none;

}

.delete:hover {
  background-color: white;
  color: #252525;
  border: 1px solid #252525;
}

.prev,
.next {
  background-color: #252525;
  border: none;
  color: #fff;

}


/* addtask */


.taskname {
  margin: 20px;
}

.tasks {
  border: none;
  border-radius: 1px;
  padding: 10px;
  width: fit-content;
  background-color: var(--primary);
}

#sdate,
#edate {
  width: 300px;
  margin: 22px;
}

.enddate {
  margin: 20px;

}

.labels {
  display: flex;
  justify-content: space-around;
}

.priority {
  margin: 20px;

}

.add {
  margin-top: 20px;
  text-align: end;
}

.orange {
  background-color: var(--fourtiry);
  color: #fff;
  border: none;
}

.headings{
  text-align: center;
  color: #252525;
}

/* table */


.tasktable {
  margin: 15px;
}

table {
  text-align: center;
  border-collapse: collapse;
}

.tdetails {
  margin-top: 20px;
  padding: 4px;
  border: 1px #252525 solid;
  border-radius: 4px;
}

.tdetails tr:nth-child(even) {
  background-color: var(--secondary);
}

.tdetails th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--primary);
}