:root {
  --primary: #222831;
  --secondary: #393e46;
  --tritary: #71c9ce;
  --fourtiry: #eeeeee;
}
/* :root {
  --primary: #66bfbf;
  --secondary: #eaf6f6;
  --tritary: #fcfefe;
  --fourtiry: #f76b8a;
} */
svg {
  cursor: pointer;
  margin-right: 20px;
  transition: 0.5s;
}
svg:hover {
  transform: scale(1.5);
  filter: drop-shadow(1px 1px 10px #71c9ce);
}
.App,
html {
  background-color: var(--fourtiry);
  margin: 0;
  padding: 0;
}

.hero > h1 {
  margin: 0;
}

input,
select {
  padding: 10px;
  width: 670px;
  border-radius: 3px;
  outline: none;
  border: 1px solid grey;
  font-size: 14px;
}

input {
  border: 1px solid grey;
}

select {
  width: 690px;
}

button {
  margin: 10px;
  height: 40px;
  width: 150px;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* buttons */

.addbtn {
  background-color: var(--primary);
  color: #fff;
  border: none;
}

.edit {
  margin: 20px;
  color: var(--primary);
  cursor: pointer;
}

.delete {
  cursor: pointer;
  color: var(--tritary);
  margin: 20px;
}

.butns {
  justify-content: center;
}

.apply_filters {
  background-color: var(--primary);
  color: #fff;
}

.prev,
.next {
  background-color: var(--primary);
  border: none;
  color: #fff;
  width: 60px;
}

/* addtask */

.taskname {
  margin: 20px;
}

.tasks {
  border: none;
  border-radius: 1px;
  padding: 10px;
  width: fit-content;
  background-color: var(--tritary);
  border: 1px solid grey;
}

#sdate,
#edate {
  width: 300px;
  margin: 22px;
}

.enddate {
  margin: 20px;
}

.labels {
  display: flex;
  justify-content: space-around;
}

.priority {
  margin: 20px;
}

.add {
  margin-top: 20px;
  text-align: end;
}

.orange {
  background-color: var(--fourtiry);
  color: #fff;
  border: none;
}

.headings {
  text-align: center;
  color: #252525;
}

/* search box */
.searchBox {
  padding: 10px;
  margin: auto;
  border: 1px solid grey;
  width: fit-content;
  text-align: center;
}

.searchBox > h1 {
  margin: 0;
  margin-bottom: 10px;
  color: #252525;
}

.dates {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}

.dateandtime {
  display: flex;
  justify-content: center;
}

/* table */

.tasktable {
  margin: 15px;
}

table {
  text-align: center;
  border-collapse: collapse;
}

td {
  border: 1px solid grey;
  height: 60px;
}
th {
  border: 1px solid grey;
}
.tdetails {
  margin-top: 20px;
  padding: 4px;
  border: 1px #252525 solid;
  border-radius: 4px;
}

.tdetails tr:nth-child(even) {
  background-color: #ddd;
}

.tdetails th {
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--primary);
}
